<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">.
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/images/picture.png}">
    <title th:text="${pageTitle}">Главная</title>


    <!-- Подключаем Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Навигационная панель -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Help Desk Team</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="/">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">О нас</a></li>
                <li class="nav-item"><a class="nav-link" href="/contacts">Контакты</a></li>
                <li class="nav-item"><a class="nav-link" href="/tickets">Заявки</a></li>
                <li class="nav-item"><a class="nav-link" href="/etc">Дополнительно</a></li>
                <li class="nav-item"><a class="nav-link" href="/faq">ЧАВО</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Основной контент -->
<div class="container mt-5 mb-5 text-center">
    <img th:src="@{/images/picture.png}" alt="Logo" style="width: 90px; height: 90px">
    <h1 class="display-4" th:text="${welcome}">Добро пожаловать!</h1>
    <p class="lead">Создайте заявку, и наши специалисты помогут вам в кратчайшие сроки</p>
    <a class="btn btn-primary btn-lg mt-3" onclick="showForm()">Создать заявку</a>
</div>

<main class="container py-5">
    <div id="form" class="card shadow-sm" style="display: none">
        <div class="container mt-4">
            <label>Заявитель</label>
            <input type="text" class="form-control" id="inputName" placeholder="Ваше имя">
            <small id="nameError" class="form-text text-muted" style="color: darkred; display: none"></small>
        </div>
        <div class="container mt-4">
            <label>Заголовок заявки</label>
            <input type="text" class="form-control" id="inputHeader" placeholder="Заголовок">
            <small id="headerError" class="form-text text-muted" style="color: darkred; display: none"></small>
        </div>
        <div class="container mt-4">
            <label>Описание</label>
            <input type="text" class="form-control" id="inputDesc" placeholder="Описание">
            <small id="descError" class="form-text text-muted" style="color: darkred; display: none"></small>
        </div>
        <div class="container mt-4">
            <button type="button" class="btn btn-primary btn-lg mt-3 mb-3" onclick="sendRequest()">Отправить</button>
            <small id="sendStatus" class="form-text" style="display: none"></small>
        </div>
    </div>
</main>
<script>
    function showForm(){
        const form = document.getElementById('form');
        if(form){
            form.style.display='block';
        }
    }

    async function sendRequest(){
        const nameInput=document.getElementById('inputName');
        const headerInput = document.getElementById('inputHeader');
        const descInput = document.getElementById('inputDesc');

        const nameError = document.getElementById('nameError');
        const headerError = document.getElementById('headerError');
        const descError = document.getElementById('descError');

        const statusText = document.getElementById('sendStatus');
        try{
            await fetch(
                'http://localhost:8000/api/tickets',{
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body: JSON.stringify({
                        title:headerInput.value,
                        description:descInput.value,
                        status:'IN_PROGRESS',
                        customerName: nameInput.value
                    })
                }
            ).then(response=>response.json());
            statusText.style.display='block';
            statusText.style.color='green';
            statusText.textContent='Заявка отправлена на рассмотрение!';

        }
        catch (error){
            statusText.style.display='block';
            statusText.style.color='red';
            statusText.textContent='Возникла непредвиденная ошибка!';
            console.log(`Ошибка: ${error}`);
        }

    }
</script>
</body>
</html>
